<div class="container mt-5">
    <div class="d-flex flex-row justify-content-between">
    <h4>Showing Results for <span class="key">{{keywordToDisplay | uppercase}}</span></h4>
    <a routerLink=""><button class="btn btn-primary">Home</button></a>
</div>
    <div class="row">
        <div *ngFor="let d of fetchedFoodDisplay" class="col-lg-3 mt-3 mb-3">
            <div class="box rounded">
                <img class="rounded" src="{{d.recipe.image}}" width="100%">
            <h5 class="mt-2 mb-2">{{d.recipe.label}}</h5>
            <div class="text-center">
            <a href="{{d.recipe.url}}" target="_blank"><button class="btn btn-primary rounded mt-2" style="width: 100%;">Read recipe</button></a>
        </div>
            </div>         
        </div>
    </div>
    <div class="text-center"><a routerLink=""><button class="btn btn-primary mt-5 mb-5" style="width: 50%;">Back to Home</button></a></div>
</div>